node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
# add node_modules to ignore
/node_modules
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log
