[Unit]
Description=Omen Fan Control Daemon
After=multi-user.target suspend.target hibernate.target

[Service]
ExecStart=/usr/local/bin/omen-fan --config /home/{user}/omen-fan/omen-fan/src/fan_config.toml
Restart=always
RestartSec=2
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

